# Database Configuration
DB_HOST=postgres-mpesa
DB_PORT=5432
DB_NAME=mpesa_warehouse
DB_USER=mpesa_admin
DB_PASSWORD=mpesa_password

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_TRANSACTIONS=mpesa_transactions

# Airflow Configuration
AIRFLOW_UID=1000
AIRFLOW_PROJ_DIR=.

# Dashboard Configuration
STREAMLIT_PORT=8510

# Monitoring
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/HERE
